#top {
  padding-top: 80px;
  padding-bottom: 160px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-list li {
  width: 23%;
  margin-bottom: 40px;
}

.product-list img {
  margin-bottom: 10px;
  vertical-align: top;
}
.product-list p {
  font-size: 0.75rem;
}
.link-text {
  display: block;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination li {
  padding: 0 20px;
}

.content{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.practices{
  box-sizing: border-box;
  width: 15em;
  padding: 1.2em 0.8em;
  margin: 0 auto;
  color: #333;
  border: 0.5px solid #e9eaea;
  border-radius: 3px;
  transition: 0.3s;
}

.content-1,
.content-2 {
  margin: 0;
}

.content-2 {
  padding: 0.8em 0;
  font-size: 0.8em;
}

.content-3 {
  margin: 0.8em 0;
  font-size: 0.8em;
  color: #00b5ad;
  cursor: pointer;
}

.content-3:hover {
  border-bottom: #00b5ad 1px solid;
}

.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
  position:fixed;
  right:50px;
  bottom:50px;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}