.content{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.practices{
  box-sizing: border-box;
  width: 15em;
  padding: 1.2em 0.8em;
  margin: 0 auto;
  color: #333;
  border: 0.5px solid #e9eaea;
  border-radius: 3px;
  transition: 0.3s;
}

.content-1,
.content-2 {
  margin: 0;
}

.content-2 {
  padding: 0.8em 0;
  font-size: 0.8em;
}

.content-3 {
  margin: 0.8em 0;
  font-size: 0.8em;
  color: #00b5ad;
  cursor: pointer;
}

.content-3:hover {
  border-bottom: #00b5ad 1px solid;
}

.completion-btn {
  width: 120px;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
}

.completion-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.fas fa-running {
  width: 60%;
}