<%= render "shared/second-header" %>

  <div class="">
    <h3>申し込み完了しました。</h3>
    <a class="" href="/">練習会一覧へ戻る</a>
  </div>

<div class="share">
  <div class="icon"><i class="fab fa-twitter"></i></div>
  <%= link_to 'ツイート', "https://twitter.com/share?url=https://localhost:3000/&text=モルックの練習会を見つけよう!", title: 'Twitter', target: '_blank', class:"twitter-text"%>
</div>
