<%= render "shared/header" %>

<div class="content">
  <% @practices.each do |practice| %> 
    <%= link_to practice.name, practice_path(practice.id) %>
    <p>値段：<%= practice.price %>円</p>
  <% end %>
</div>