<%= link_to 'マイページへ行く' %>
<div class="content">
  <% @practices.each do |practice| %> 
    <p>練習会名：<%=  practice.name %></p>
    <p>値段：<%= practice.price %>円</p>
    <%= link_to '申し込む'%>
  <% end %>
</div>