.login-title {
  text-align: center;
  color: #323232;
  font-size: 22px;
}

.input-form{
  padding: 20px 40px;
  text-align: center 
}

input[type="email"] {
  width: 300px;
  height: 40px;
}

.input-mail {
  box-sizing: border-box;
  padding: 10px 10px;
  margin: 5px 0;
  font-size: 14px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

input[type="password"] {
  width: 300px;
  height: 40px;
}
.input-pw {
  box-sizing: border-box;
  padding: 10px 10px;
  margin: 5px 0;
  font-size: 14px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.t-deco {
  margin: 0 auto;
  color: #cdcdcd;
  font-weight: normal;
  display: flex;
  width: 300px;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding: 20px 40px;
}

.t-deco:before,
.t-deco:after {
  content: "";
  -moz-box-flex: 1;
  flex-grow: 1;
  height: 1px;
  background: #cdcdcd;
  display: block;
}
.t-deco:before {
  margin-right: 20px;
}
.t-deco:after {
  margin-left: 20px;
}

.sign-up-google {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 300px;
  margin-bottom: 28px;
  font-size: 0.9em;
  text-decoration: none;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #ffffff;
  line-height: 40px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
}

.google-text {
  color: #323232;
  font-weight: bold;
  text-decoration: none;
}

.sign-up-facebook {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 300px;
  margin-bottom: 28px;
  font-size: 0.9em;
  background: #1877f2;
  border: 1px #1877f2 solid;
  border-radius: 8px;
  line-height: 40px;
  cursor: pointer;
}

.fa-text {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
} 

input[type=submit]{
  border-radius: 8px;
  height: 40px;
  width: 300px;
}

.login-btn{
  text-align: center 
}

.login-button {
  height: 40px;
  width: 50%;
  color: #fff;
  background: #40C7c1;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  appearance: none;
  transition: 0.2s;
}

.login-button:hover {
  background: #78cec8
}

.wrapper {
  font-size: 14px;
  text-align: center;
  padding: 20px 40px;
}
.text {
  color: #323232
}
.create-account-link {
  color: #40C7c1;
  text-decoration: none;
}
.create-account-link:hover {
  text-decoration: underline;
}

.registration-btn{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 300px;
  color: #fff;
  background: #40C7c1;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  appearance: none;
  transition: 0.2s;
}

.registration-text{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}