.AccountPage{
  padding-top:25px;
  margin-left:10px;
  margin-right:10px;
}

.AccountPage__title{
  max-width:600px;
  margin:0 auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color:#FAFAFA;
}

.AccountPage__head{
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#2ABCA7;
  color:#FAFAFA;
}

h1 {
  text-align:center;
  padding:18px 0 18px 0;
  font-size: 1.4em;
}

.FormField__input--normal{
  
}

